# Ignore everything by default
*

# Whitelist directories
!assets/
!dist/
!fonts/
!src/
!video/

# Ensure contents of whitelisted directories are tracked
!assets/**
!dist/**
!fonts/**
!src/**
!video/**

# Whitelist specific root files
!index.html
!netlify.toml
!README.md
!readme.md
!script.js
!scripts.js
!styles.css
!.gitignore